#success-result {
    color: green;
}

#login-error {
    color: red;
}

.result-for-item {
    color: red;
}

#error-result {
    color: red;
}

#result {
    color: red;
}

#ajax-errors {
    color: red;
}

.header-part {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pages-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#pdp-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.price-n-button-add {
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 8px;
    padding: 10px;
}

#left-part {
    width: 350px;
}

.back-to-plp {
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttons {
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    background: lightgrey;
    transition: 0.2s;
}

.buttons:hover {
    background: grey;
}

table {
    border: 1px solid grey;
}

td {
    padding: 5px;
    border: 1px solid grey;
}

#cart-button {
    height: 30px;
}

#cart-buttons {
    display: flex;
    flex-direction: row;
}

#update-cart {
    margin-top: 10px;
    margin-right: 10px;
}

#order-cart {
    margin-top: 10px;
    margin-right: 10px;
}

.no-border-table {
    border: 0;
}

.no-border-td {
    border: 0;
}

#add-info-to-order {
    height: 100px;
    width: 245px;
    resize: none;
}

#add-info-overview {
    height: 100px;
    width: 245px;
}

.required {
    color: red;
}

#auth-and-cart {
    display: flex;
    flex-direction: column;
}

#auth-header-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#form-for-cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nickname-span {
    margin-right: 10px;
}

#admin-orders-link {
    margin-right: 10px;
}

.admin-order-details-under-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#admin-order-details-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buttons-in-line {
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    background: lightgrey;
    transition: 0.2s;
    margin-right: 10px;
}

.buttons-in-line:hover {
    background: grey;
}
